
body{
    background-color: #000120 !important;
}
/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px; /* Default width for large screens */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.51) !important;
   backdrop-filter: blur(5px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.active{
    padding: 10px;
    background-color: #438fec;
    margin-right: 10px;
    margin-left: 10px;
    color: #ffffff !important;
    border-radius: 30px;
    font-weight:700 !important;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none !important;
  line-height: 2em;
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0) !important;
  display: block;
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important; 
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1 !important;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
}
.openbtn{
background:transparent !important;
cursor: pointer;
border: none;
 
}

/* Hide the close button for large screens */
@media screen and (min-width: 992px) {
  .sidebar .closebtn {
      display: none;
  }
  .sidebar a {
    padding: 10px 15px !important; /* Slightly smaller padding for medium screens */
}
}
/* Padding adjustments for small screens */
@media screen and (max-width: 768px) {
    .sidebar a {
        padding: 8px 10px !important; /* Even smaller padding for small screens */
    }
}

/* Topbar styles */
.topbar {
  background-color: rgba(255, 255, 255, 0.51) !important;
  padding: 15px;
  text-align: right;
  color: white;
}

/* Content styles */
.content {
  margin-left: 250px; /* Same as the sidebar width */
  transition: margin-left .5s;
  padding: 16px;
}

/* Adjust layout for medium and small screens */
@media screen and (max-width: 991px) {
  .sidebar {
      width: 0;
  }
  .topbar {
  padding: 10px;
  
}
  .content{
      margin-left: 0;
  }
}
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #438fec7a;
  }
h5{
  font-family: "Poppins", sans-serif !important;
    font-style: normal !important; 
}

  .test-card{
    background-color: #438fec7a;
    color: white;
    font-family: "Poppins", sans-serif !important;
    font-style: normal !important; 
    border-radius: 5px;  
    /* height: 100px; */
  }
  .question{
    color: white;
  }
  .opt{
    background-color: rgba(255, 255, 255, 0.164) !important;
    width: 300px;
    border-radius: 5px;
  }
  table thead tr th{
    padding: 0px 30px !important;
    color: white !important;
  }
  .btn {
    font-weight: bold !important;
    background-color: #1A4E8D !important;
    color: white !important; 
    width:120px !important;
    border: 2px solid #1A4E8D !important;
}
.btn:hover{
  border: 2px solid white !important;
  transition: .7s;
}
input[type=text]{
  height: 50px;
  font-size: 15px;
  color: #ffffff !important;
  background-color: #484545 !important;
}
input[type=number]{
  height: 50px;
  font-size: 15px;
  color: #f9f8f8 !important;
  background-color: #484545 !important;
}
input[type=password]{
  height: 50px;
  font-size: 15px;
  color: #f9f8f8 !important;
  background-color: #484545 !important;
}
input[type=number]:focus,input[type=text]:focus,input[type=password]:focus{
  background-color: #484545 !important;
}
/* Hide up and down arrows in number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}

/* Hide arrows in Webkit-based browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th, td {
  /* padding: 18px 12px; */
  text-align: left;
  white-space: nowrap; 
  border:none !important;
}
/* table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
  padding: 4px 10px !important;

} */
table.dataTable tbody td {
  background-color: #000120 !important; /* Ensure each cell background matches */
  color: #ffffff !important; /* Ensure text color is readable */
}
.btn {
  font-weight: bold !important;
  background-color: #1A4E8D !important;
  color: white !important; 
  width:120px !important;
  border: 2px solid #1A4E8D !important;
}
.btn:hover{
  border: 2px solid white !important;
  transition: .7s;
}
label{
  color:white !important;
  margin-right: 10px !important;
  padding-left: 10px !important;
}
select{
  color: white !important;
}
option{
  background-color: #1A4E8D !important;
  color: white !important;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
div.dt-container .dt-length, div.dt-container .dt-search, div.dt-container .dt-info, div.dt-container .dt-processing, div.dt-container .dt-paging {
  color: white !important;
}
form .error-msg{
  margin:10px 0;
  display : block;
  background : #ff0000;
  color : #fff;
  border-radius : 5px;
  font-size : 17px;
  padding : 3px;
}
form .success-msg{
  margin:10px 0;
  display : block;
  background : #4ea72b;
  color : #fff;
  border-radius : 5px;
  font-size : 17px;
  padding : 3px;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
  justify-content: center;
}

.new_pass {
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.scroll {
  scrollbar-width:none; /* Makes the scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}